.label-judul{
	font-weight: bold;
}

.mailbox table tr td {
	cursor: pointer;
}

.color-gradiant {
	background: linear-gradient(to right, #0052d4, #4364f7, #6fb1fc);
}

.table-style thead,
.table-style tbody {
	border-bottom: 1px solid black;
}

.table-style tbody tr td {
	padding: 1.3rem 1.3rem;
}

/*
.checkbox-setting span {
	position: relative;
	left: 100%;
	right: 10%;

}*/

@media (min-width: 992px) {

	.dataTables_filter,
	.pagination {
		float: right;
	}

}